

<div class="d-flex justify-content-center m-0" >
  <div class="bg-light p-5 rounded-3 w-100">
    <div class="d-flex flex-column justify-content-center align-items-center">
      
        <h1>New friend</h1>

        <%= render "form", friend: @friend %>

        <br>

        <div>
          <%= link_to "Back to friends", friends_path %>
        </div>

    </div>
  </div>
</div>

