/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


td {
    vertical-align: middle;
}

.friends-list {
    /* background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    height: 100%;
    padding: 25px; */
}

#friend-form, #new_user {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; */
    
}

#friend-form, #new_user div {
    width: 100%;
    margin-bottom: 10px;
}
 

.field {
    margin-bottom: 15px;
}

.field label {
    font-weight: bold;
}
.field input{
    width: 100%;
}

#new_user input[type="checkbox"] {
    width: auto;
}

.form-container {
    width: 100%;
    max-width: 450px;
}
